body{
    font-family: 'Segoe UI', sans-serif;
    margin:0;
    padding:0;
    background:#6d86fd;
    color: rgb(48 48 48);
}
.menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#ffffff;
    height: 80px;
}

.barre{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: rgb(40, 40, 139);
    height: 20px;
}

.card{
    display:flex;
    align-items: flex-start;
    background:#6d86fd;
    height: 400px;
    flex-direction: column;
}

._espace{
    margin-left: 1rem;
}

.espace_{
    margin-right: 1rem;
}

.non_suligner{
    text-decoration: none;
    color: rgb(48 48 48);
}

.dropdown {
  position: relative;
  list-style: none;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.submenu {
  display: none;
  position: absolute;
  background: rgb(48 48 48);
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  right: 3px;
}

.dropdown:hover .submenu,
.dropdown:focus-within .submenu {
  display: block;
}
.submenu li a {
  padding: 10px 18px;
  display: block;
  text-decoration: none;
  color: var(--main-color);
}

.submenu li a:hover {
  background: var(--highlight);
  color: var(--accent);
}

.en_ligne{
    display: flex;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

button {
    background-color: #f44336; /* Rouge pour le bouton de suppression */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e53935;
}